.pagination li a {
    display: inline-block;
    border: 1px solid black;
    padding: 17px;
    background-color: #eaeaea;
}

.page {
    margin-bottom: -30px;
}

.pagination li a {
    background-color: #4ba6c3;
}